@import '~element-ui/lib/theme-default/index.css';

$color-black: #1F2D3D;
$color-gray-light: #E5E9F2;

body {
  color: $color-black;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
